h1 {
  color: #fff;
  background-color: #39aebc;
  padding: 10px;
  margin: 0;
}
.saveSegment {
  position: relative;
  top: 0;
  bottom: 0;
}

.saveSegment > button {
  padding: 10px;
  background-color: transparent;
  position: relative;
  color: #000;
  border-color: #000;
  border-width: 3px;
  border-style: double;
  left: 100px;
  top: 40px;
}
.popUp {
  background-color: #fff;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  opacity: 1;
}

a {
  color: #7dd0bd;
}

.save {
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #7dd0bd;
}
select {
  padding: 10px;
  width: 70%;
  margin: 10px;
}
span,
label {
  padding: 10px;
}
.segName {
  padding: 10px;
  margin: 10px;
  width: 80%;
}
.dots {
  display: inline;
  position: relative;
  left: 50%;
}
.dot {
  height: 0px;
  width: 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.dotRed {
  height: 0px;
  width: 0px;
  background-color: #fa4141;
  border-radius: 50%;
  display: inline-block;
}
.dotGreen {
  height: 0px;
  width: 0px;
  background-color: #0e9901;
  border-radius: 50%;
  display: inline-block;
}
.delete {
  padding: 10px;
  width: 7%;
  font-weight: 800;
  background-color: #f2fbf9;
  border: none;
}
.cancel {
  padding: 10px;
  position: absolute;
  left: 150px;
  bottom: 0;
  color: #f84f4f;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
ul {
  list-style: none;
  position: relative;
  right: 40px;
}
ul select {
  padding: 10px;
  width: 76%;
  margin: 10px;
}